<!--ENCABEZADO-->
<div class="contenedor-header">
    <header>
        <div class="fila">
            <div class="logo">
                <a routerLink="./home">Argentina Programa</a>
                <p>#YoProgramo</p>
            </div>
  
            <div class="redes">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
  
            <a routerLink="./login">
            <button>
                Login
                <i class="fa-solid fa-right-to-bracket"></i>
            </button>
            </a>
  
        </div>
   </header>
  </div>
